{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "objectWrap": "collapse",
  "importOrderSeparation": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["<THIRD_PARTY_MODULES>", "^[./]"]
}
